  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 400px; 
    margin: 0 auto; 
  }

  .modal-title {
    color: #1F487E;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px; 
    margin-bottom: 10px; 
  }

  .modal-input-container {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 100%;
  }
  
  .modal-label {
    text-align: right; 
    margin-bottom: 5px;
  }
  
  .modal-input {
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 10px;
    border: 2px solid #000;
    width: 100%;
    margin-bottom: 10px; 
  }
  
  .modal-button {
    width: 60%;
    height: 50px;
    border-radius: 20px;
    background-color: #247BA0;
    color: #fff;
    border: none;
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    .modal-title {
      font-size: 30px; 
      margin-top: 10px; 
      margin-bottom: 5px; 
    }
  }
  
  