.container {
    background-color: #F5EFE6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
  }

  @media (max-width: 1170px) {
    .container {
      width: 100%;
      max-width: 100%;
      padding: 10px;
    }
}

  @media (max-width: 480px) {
    .container {
      padding: 10px;
    }
  }


  @media (min-width: 768px) {
    
  }
  

  @media (max-width: 768px) {
    div {
      flex-direction: column; 
      align-items: center; 
    }
  
    div > div {
      margin-right: 0; 
      margin-top: 10px; 
      width: 100%; 
    }
  }
        
  img {
      width: 300px;
  }
  
  
  @media (max-width: 768px) {
    img {
      width: 100px; 
    }
  }
  
  .responsive-table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    table-layout: fixed;
    margin: 0 auto;
  }
  
  
  .responsive-table th, .responsive-table td {
    word-wrap: break-word;
    overflow: visible;
    white-space: normal;
  }
  
  
  
  @media (max-width: 768px) {
    .responsive-table {
      max-width: 100%;
    }
    .responsive-table th, .responsive-table td {
      width: auto; 
    }
  }
  